/* created a brand new css for the flyer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  color: rgb(14, 3, 3);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.menubtn {
  display: none;
  font-size: 30px;
}

.topfooter {
  background-color: rgb(29, 28, 28);
  color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* height: 34px; */
  /* width: 100%; */
}

.para,
.icons {
  display: flex;
  align-items: center;
}

.para span {
  margin-right: 10px;
  font-size: 12px;
  display: inline;
  align-items: center;
  /* display: flex;
  align-items: center; */
}

.icons a {
  margin-left: 10px;
  font-size: 12px;
}
/* this is done */

.firstcontainer {
  background: linear-gradient(
      to right,
      rgba(240, 226, 226, 0.603),
      rgba(240, 226, 226, 0.603)
    ),
    url(images/bkg.jpeg) center/cover;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.palazonav {
  display: flex;
  justify-content: space-around;
  padding: 20px 25px;
  font-weight: bold;
}
.compname {
  margin-left: 70px;
  font-weight: bold;
  font-size: 25px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(26, 1, 26);
}
.navbar a {
  color: rgb(46, 79, 79);
  font-weight: 500;
}

.navbar a:hover {
  color: darkgoldenrod;
}
.btn-1 {
  background-color: burlywood;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}
.btn-2 {
  margin-top: 15px;
  background-color: burlywood;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
}
.btn-3 {
  background-color: rgb(184, 180, 180);
  color: black;
  font-weight: bold;
  font-size: 19px;
  padding: 5px 5px;
  border-radius: 15px;
  border: none;
  margin: 5px 5px;
}
.btn:hover {
  background-color: #ffe4c4;
}
.clsbtn {
  display: none;
  font-size: 24px;

  color: #333;
  text-align: right;
  padding: 10px;
}
.navbar.active .clsbtn {
  display: block;
}
/* luxroom */
.center-me {
  margin-top: 50px;
  text-align: center;
  color: black;
}
.center-me h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
.active {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* secondcontainer */
.secondcontainer {
  margin: 50px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.image1 {
  max-width: 700px;
}
.subimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.subimages img {
  margin-top: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.packets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.luxsub {
  border-radius: 10px;
  padding: 40px 20px;
  background-color: white;
  font-size: 20px;
  height: 300px;
  width: 450px;
}
.Facisub {
  border-radius: 10px;
  padding: 40px 20px;
  font-size: 20px;
  background-color: white;
  width: 450px;
  height: 270px;
  margin-top: 20px;
}
.thirdcontainer {
  /* text-align: center; */
  margin-right: 600px;
  margin-left: 50px;
}
.info {
  margin: 40px 0px;
}
.APEs {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  margin-bottom: 40px;
}
.fourthcontainer {
  display: flex;
  flex-direction: row;
}
.rooms {
  background: linear-gradient(
      to right,
      rgba(240, 226, 226, 0.303),
      rgba(240, 226, 226, 0.303)
    ),
    url(images/download.jpeg) center/cover;
  height: 300px;
  width: 50%;
}
.contact {
  width: 50%;
  height: 300px;
  background-color: burlywood;
}
.text-1 {
  padding: 100px 100px;
  color: white;
}
.text-2 {
  padding: 100px 100px;
  color: black;
}
.btmcont {
  background-color: rgb(61, 61, 61);
  height: 550px;
  padding: 40px;
}
.fifthcontainer {
  color: white;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.search {
  margin: 50px 0px;
}

.input-box {
  width: 500px;
  height: 40px;
}
.btpalazo {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  color: whitesmoke;
}
.btpalazo,
p {
  margin-bottom: 6px;
}

.CQPs {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

footer {
  padding-top: 10px;
  background-color: rgb(31, 30, 30);
  color: whitesmoke;
  text-align: center;
  height: 40px;
}

/* all media queries */

@media (max-width: 768px) {
  .topfooter {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .firstcontainer {
    display: flex;
    flex-wrap: wrap;
  }

  .menubtn {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    padding: 10px 0;
  }

  .navbar.active {
    display: flex;
  }
  .navbar li {
    margin: 10px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .image1 {
    max-width: 600px;
  }
  /* .subimages {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
  } */
}
@media (max-width: 1024px) {
  .luxsub {
    border-radius: 10px;
    padding: 20px 20px;
    background-color: white;
    font-size: 16px;
    height: 270px;
    width: 350px;
  }
  .Facisub {
    border-radius: 10px;
    padding: 20px 20px;
    font-size: 16px;
    background-color: white;
    width: 350px;
    height: 250px;
    margin-top: 5px;
  }
  .image1 {
    max-width: 600px;
  }
  .btn-2 {
    margin-top: 7px;
  }
}
@media (max-width: 768px) {
  .image1 {
    max-width: 700px;
  }
  .secondcontainer {
    margin: 50px;
    display: grid;
    /* column-gap: 10px; */
    grid-template-columns: 1fr;
  }
  .packets {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 20px;
  }
  .luxsub {
    border-radius: 10px;
    padding: 20px 15px;
    background-color: white;
    font-size: 16px;
    height: 270px;
    width: 333px;
  }
  .Facisub {
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 16px;
    background-color: white;
    width: 333px;
    height: 270px;
  }
  .thirdcontainer {
    margin: 50px 70px;
  }
}
@media (max-width: 425px) {
  .menubtn {
    margin-left: 170px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .center-me {
    margin-top: 0px;
    margin-left: 70px;
  }
  .image1 {
    max-width: 350px;
  }
  .subimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
    max-width: 400px;
  }
  .subimages img {
    margin-top: 5px;

    height: auto;
    object-fit: cover;
  }
  .packets {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .thirdcontainer {
    margin: 20px 30px;
  }
  .APEs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 10px;
    max-width: 300px;
  }
  .fourthcontainer {
    display: flex;
    flex-direction: column;
  }
  .rooms {
    height: 200px;
    width: 100%;
  }
  .contact {
    width: 100%;
    height: 200px;
  }
  .text-1 {
    padding: 10px 10px;
    color: white;
  }
  .text-2 {
    padding: 10px 10px;
  }
  .btmcont {
    height: 1050px;
    padding: 0px;
  }
  .big {
    display: block;
  }

  .btpalazo {
    display: block;
    padding: 0px 20px;
    color: whitesmoke;
  }
  .btmpal {
    width: 100%;
  }
  .CQPs {
    display: block;
    margin-right: 100px;
    margin-top: 20px;
    padding: 0px 0px;
  }
  .C,
  .S,
  .Q {
    padding-left: 0px !important;
  }

  .S,
  .Q {
    padding-left: 0px !important;
    margin-top: 20px !important;
  }

  .input-box {
    width: 350px;
  }
}
@media (max-width: 375px) {
  .menubtn {
    margin-left: 120px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .center-me {
    margin-left: 40px;
  }
  .secondcontainer {
    margin: 20px;
  }
  .image1 {
    max-width: 330px;
    padding: 0px 0px;
  }
  .subimages {
    max-width: 330px;
  }
  .text-1 {
    padding: 15px 20px;
  }
  .text-2 {
    padding: 15px 20px;
  }
}
/* @media (max-width: 320px) {
  .
  .menubtn {
    margin-left: 100px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .center-me {
    margin-left: 30px;
  }
  .secondcontainer {
    margin: 20px;
  }
  .image1 {
    max-width: 330px;
    padding: 0px 0px;
  }
  .subimages {
    max-width: 330px;
  }
  .text-1 {
    padding: 15px 20px;
  }
  .text-2 {
    padding: 15px 20px;
  }
} */
